#borad_user td {
    background: lightblue;
    height:70px;
    width:90px;
    border: 1px solid;
}
#borad_user tr:nth-child(odd) td:nth-child(even),
#borad_user tr:nth-child(even) td:nth-child(odd) {
    background: aliceblue;
}

h1 {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    margin: 60px auto 50px auto;
    font-weight: bold;
    color: #6d8fdb;
}

h2 {
    text-align: center;
}

.submit {
    margin-top: 15px;
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
}

.font-1 {
    font-family: 'Open Sans', sans-serif;
}

.font-2 {
    font-family: 'Asap', sans-serif;
}

.indicacao {
    position: absolute;
    font-size: 40px;
}

.indicacao.linha {
    margin-left: -40px;
    margin-top: -25px;
}

.indicacao.coluna {
    margin-top: -90px;
    margin-left: 20px;
}

.nav-1, .navio-teste {
    background: gray!important;
}

.dialog-info .modal-header, .dialog-info .modal-footer {
    border: none;
}

#painel-navios table {
    margin-top: 10px;
}

#painel-navios td {
    border: 1px solid;
}

#painel-navios span {
    float: left;
    padding-top: 15px;
    padding-right: 15px;
}

#painel-navios {
    border: 2px solid lightblue;
    display: inline-block;
    border-radius: 7px;
    padding: 40px 25px 25px 25px;
    margin-top: 40px;
    margin-left: 25px;
    float: left;
}

#painel-navios .painel-identity {
    position: absolute;
    margin-top: -40px;
    margin-left: 100px;
    font-size: 20px;
}

.marcado {
    background: blue!important;
}

.atacado {
    background: orange!important;
}

#placar {
    border: 2px solid lightblue;
    display: inline-block;
    border-radius: 7px;
    padding: 25px;
    margin-left: 25px;
    margin-top: 39px;
    width: 220px;
}

.indicacao {
    display: none;
}