/*Todo o CSS deve ficar aqui*/
/*td {
    height: 100px;
    width: 100px;
    background-color: blue;
}*/

#borad_user td {
    background: lightblue;
    height:70px;
    width:90px;
    border: 1px solid;
}
#borad_user tr:nth-child(odd) td:nth-child(even),
#borad_user tr:nth-child(even) td:nth-child(odd) {
    background: aliceblue;
}

h1 {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    margin: 60px auto 50px auto;
    font-weight: bold;
    color: #6d8fdb;
}

h2 {
    text-align: center;
}

.submit {
    margin-top: 15px;
}

.center-table {
  margin: 0 auto !important;
  float: none !important;
}

.font-1 {
    font-family: 'Open Sans', sans-serif;
}

.font-2 {
    font-family: 'Asap', sans-serif;
}

.indicacao {
    position: absolute;
    font-size: 40px;
}

.indicacao.linha {
    margin-left: -40px;
    margin-top: -25px;
}

.indicacao.coluna {
    margin-top: -90px;
    margin-left: 20px;
}

.navio {
    background: gray!important;
}